* {
  margin: 0;
  padding: 0;
}

html,
body {
  /* overflow: hidden; */
  background-color: #1e1a20;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

#loading-bar {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0);
  transition: transform 0.3s;
  transform-origin: top left;
  will-change: transform;
}

#loading-bar.ended {
  transition: transform 1.5s;
  transform-origin: top right;
}
